@model List<ProductTable>

@{
    ViewData["Title"] = "Home Page";
}

<div class="main-container">
    <div class="categories">
        <div class="category">
            <a asp-action="Category" asp-controller="Product" asp-route-category="TVs">
                <img />
                <label>TVs</label>
            </a>
        </div>
        <div class="category">
            <a asp-action="Category" asp-controller="Product" asp-route-category="Laptops">
                <img />
                <label>Laptops</label>
            </a>
        </div>
        <div class="category">
            <a asp-action="Category" asp-controller="Product" asp-route-category="Gaming">
                <img />
                <label>Gaming</label>
            </a>
        </div>
    </div>
        <div class="products-container">
            @foreach(var item in Model)
            {

                    <a asp-action="Product" asp-route-productID="@item.ProductID">
                        <form class="product" asp-action="Cart" method="post">
                            <input type="hidden" name="productID" value="@item.ProductID" />
                            <img src="data:image/jpeg;base64,@Convert.ToBase64String(item.ProductImg)"/>
                            <lable>@item.Name</lable>
                            <lable>R @item.Price</lable>
                            <button type="submit">Add to Cart</button>
                        </form>
                     </a>         
                
            }
        </div>
</div>

<style>
    a{
        text-decoration: none;
        color: black;
    }

    .main-container{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .products-container{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        column-gap: 15px;
    }
    
    .products-container a{
        border: solid 1.3px black;
    }

    .product{
        width: 280px;
        display: flex;
        flex-direction: column;
        row-gap: 14px;
        justify-content: center;
        align-items: center;
    }

    .product lable{
        text-align: center;
    }

    .product img{
       width: 200px;
       height: 200px
    }


    .categories{
        display: flex;
        width: 70%;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 50px;
    }

    .category{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 8px;
    }
</style>
