<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Store</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Store.styles.css" asp-append-version="true" />
</head>
<body>
    @{
      string data = ViewData["Title"].ToString();

        if (data != "Login" && data != "Register" && data != "Cart" && data != "Product")
    {
        <header>
            <nav class="nav-container">      
                    <a class="navbar-logo" asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="images/store.png"/>
                    </a>
                    <form class="search-bar" asp-controller="Home" asp-action="Index" method="post">               
                            <input class="search-input" name="search" type="text" placeholder="Search"/>
                            <div class="icon-button">
                                <button type="submit" style="background-color: transparent; border: none;"><img src="images/search.png" /></button>
                            </div>
                    </form>
                        <ul class="nav-items">
                            <li>
                                <div class="icon"><img src="images/user.png"/></div>
                                <a asp-controller="User" asp-action="Index">Login</a>
                            </li>
                            <li>
                                <div class="icon"><img src="images/shopping-cart.png" /></div>
                                <a asp-controller="Home" asp-action="Cart">Cart</a>
                            </li>
                        </ul>         
            </nav>
        </header>    
    }
    }
    <div class="container" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @* <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - Store - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<style>

    .navbar-logo{
        width: 175px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .navbar-logo img{
            width: 37%;
        }

    .nav-container{
        display: flex;
        width: 100%;
        height: 80px;
        align-content: center;
        justify-content: space-between;
        padding-left: 50px;
        padding-right: 50px;
        border-bottom: solid 1.2px black;
    }

    .nav-items{
        display: flex;
        column-gap: 12px;
        padding: 0;
        justify-content: center;
        align-content: center;
        column-gap: 30px;
        margin: 0;
    }

    .nav-items li{
        list-style: none;
        display: flex;

        justify-content: center;
        align-items: center;
    }
    
    .nav-items li a{
        color: black;
        text-decoration: none;
    }

    .search-bar{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }



    .search-input{
        width: 450px;
        margin-right: 8px;
        border-radius: 15px;
        border: solid 1.5px black;
        padding: 0 8px;
        height: 40px;
    }

    .icon-button{
        width: 40px;
    }

    .icon-button img{
        width: 100%;
    }

    .icon{
        width: 30px;
        margin-right: 8px;
    }

    .icon-img{
        width: 100%;
    }
</style>
